
@{
    ViewBag.Title = "SifremiUnuttum";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="container pt-5" style="background-color: #ecf0f1">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-112 col-lg-12 col-md-12">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 pt-5" style="padding-left:30px!important">
                            <img src="~/Dosyalar/Public/bsp9.jpg" style="width:100%;height:auto;" />
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Şifremi Unuttum</h1>
                                </div>
                                <form class="user" id="myForm" name="myForm" action="/Home/SifremiUnuttumMethod" method="post">
                                    <div class="mb-5 text-center">
                                        <span style="display:none; visibility:hidden ;color:Red !important" id="Login1_FailureText">Hatalı E-Posta girdiniz</span>
                                    </div>
                                    <div class="mb-5 text-center">
                                        <span style="display:none; visibility:hidden ;color:Red !important" id="Login2_FailureText">Şifrenizin sıfırlanması için E-posta adresinize bir bağlantı gönderildi.</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               id="eposta" aria-describedby="eposta" name="eposta"
                                               placeholder="E-Posta">
                                    </div>
                                    @*<div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">
                                                    Beni Hatırla
                                                </label>
                                            </div>
                                        </div>*@
                                    <button type="button" onclick="SifremiUnuttumMethod()" class="btn btn-primary btn-user btn-block">
                                        Şifre Gönder
                                    </button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function SifremiUnuttumMethod() {
        var eposta = document.getElementById('eposta').value;

                $.ajax({
            url: '@Url.Action("EpostaKontrol", "Home")',
            type: 'post',
                    data: { 'eposta': eposta},
            success: function (data)
            {
                if (data == "basarisiz")
                {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'swal2-confirm',
                            cancelButton: 'swal2-cancel'
                        },
                        buttonsStyling: true
                    })
                    swalWithBootstrapButtons.fire({
                        text: "E-Posta sistemde kayıtlı değil",
                        icon: 'warning',
                        showCancelButton: false,
                    })
                }
                else
                {
                    $("#myForm").submit();
                }
            }
        });
    }

</script>

